header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px;
    color: #cbb26a;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: large;
  }


.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 40%;
  }


  
.button {
    margin-left: 15px;
    background-color:black;
    color: #cbb26a; 
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: large;
    cursor: pointer;
   
  }
  .button1:hover {
    background-color: black;
    color: white;
    border: 1px solid #cbb26a;
  }
  .button2:hover {
    background-color: black;
    color: white;
    border: 1px solid #cbb26a;
  }
  .button3:hover {
    background-color: black;
    color: white;
    border: 1px solid #cbb26a;
  }
  .button4:hover {
    background-color: black;
    color: white;
    border: 1px solid #cbb26a;
  }
  .button5:hover {
    background-color: black;
    color: white;
    border: 1px solid #cbb26a;
  }