<header>
    <h2>Suoratoistopalvelujen <br>vertailusivusto</h2>
    <img src="\assets\suvelogo.png" alt="" width="30%" height="150">

    <nav>
        <button routerLink="/etusivu" class="button button1">Etusivu</button>
        <button routerLink="/vertaile" class="button button2">Vertaile</button>
        <button routerLink="/meista" class="button button3">Meistä</button>
        <button routerLink="/rekisteroidy" class="button button4">Rekisteröidy</button>
        <button routerLink="/laskin" class="button button5">Laskin</button>
    </nav>
</header>