
  
  <body>
    <div id="content">
      <h1>Angular ja Front-End opiskelua ja kokeilua</h1>
      <h2>Paras valinta sinulle</h2>
      <p>Oletko kyllästynyt vaihtelemaan jatkuvasti suoratoistopalvelujen tarjoajia?<br>
        Unohtuuko tilauksen peruminen aina ilmaisen kokeilujakson jälkeen?<br>
        Ei hätää! Sitä varten me olemme täällä!<br>
        Kilpailutamme puolestasi jatkuvasti suoratoistopalvelujen tarjoajia ja<br>
        tarjoamme sinulle tuoreimmat tiedot valikoimista, alennuksista ja meidän<br>
        jäseneduista, jotka saat käyttöösi ilmaisella rekisteröitymisellä.</p>
        <button routerLink="/rekisteroidy" class="button button4">Rekisteröidy</button>  </div>
  </body>
  
