
<body>
    <form>
    <h2>Rekisteröinti</h2>
        <label for="firstName">Etunimi:</label><br>
        <input type="text" id="firstName" formControlName="firstName">
        <br>
        <label for="lastName">Sukunimi:</label><br>
        <input type="text" id="lastName" formControlName="lastName">
        <br>
        <label for="email">Sähköposti:</label><br>
        <input type="email" id="email" formControlName="email">
        <br>
        <label for="password">Salasana:</label><br>
        <input type="password" id="password" formControlName="password">
        <br>
        <label for="confirmPassword">Vahvista salasana:</label><br>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <br>
        <button type="submit">Rekisteröidy</button>
    </form>
</body>