<header>
  <h2>Suoratoistopalvelujen <br>vertailusivusto<br>SuVe.fi</h2>
  <nav>
    <button class="button button1">Palvelut</button>
    <button class="button button2">Vertaile</button>
    <button routerLink="/meista" class="button button3">Meistä</button>
    <button class="button button4">Rekisteröidy</button>
  </nav>
</header>

<body>
  <div id="content">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>Paras valinta sinulle</h2>
    <p>Oletko kyllästynyt vaihtelemaan jatkuvasti suoratoistopalvelujen tarjoajia?<br>
      Unohtuuko tilauksen peruminen aina ilmaisen kokeilujakson jälkeen?<br>
      Ei hätää! Sitä varten me olemme täällä!<br>
      Kilpailutamme puolestasi jatkuvasti suoratoistopalvelujen tarjoajia ja<br>
      tarjoamme sinulle tuoreimmat tiedot valikoimista, alennuksista ja meidän<br>
      jäseneduista, jotka saat käyttöösi ilmaisella rekisteröitymisellä.</p>
      <button class="button button4">Rekisteröidy</button>  </div>
</body>
