
  <body>
    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile class="ylarivi"><b>Suoratoistopalvelu</b></mat-grid-tile>
        <mat-grid-tile class="ylarivi"><b>Valikoima</b></mat-grid-tile>
        <mat-grid-tile class="ylarivi"><b>Hinta</b></mat-grid-tile>
        <mat-grid-tile class="ylarivi"><b>Ilmainen kokeilujakso</b></mat-grid-tile>
        <mat-grid-tile><img src="\assets\NetflixLogo.png" alt="" width="60%" height="100%"></mat-grid-tile>
        <mat-grid-tile> sarjoja, elokuvia, animea, dokumentteja.</mat-grid-tile>
        <mat-grid-tile> Perus(7,99 €/kk), Tupla(11,99 €/kk) ja Perhe(15,99 €/kk)</mat-grid-tile>
        <mat-grid-tile>Netflix ei tarjoa ilmaisia kokeiluja.</mat-grid-tile>
        <mat-grid-tile><img src="\assets\ViaplayLogo.png" alt="" width="70%" height="70%"></mat-grid-tile>
        <mat-grid-tile>Urheilu-lähetykset! Sekä -elokuvat ja tv-sarjat.</mat-grid-tile>
        <mat-grid-tile>44,99 €/kk</mat-grid-tile>
        <mat-grid-tile>Kahden viikon jälkeen palvelu muuttuu automaattisesti maksulliseksi, ellei sitä peru. </mat-grid-tile>
        <mat-grid-tile><img src="\assets\DisneyLogo.png" alt="" width="50%" height="80%"></mat-grid-tile>
        <mat-grid-tile> kaikki Disney -elokuvat ja tv-sarjat</mat-grid-tile>
        <mat-grid-tile>8,99 € kuukaudessa Tai vuoden pituinen tilaus 89,90 €</mat-grid-tile>
        <mat-grid-tile>Disney+ ei tarjoa maksutonta kokeilujaksoa</mat-grid-tile>
      </mat-grid-list>
      
      
  </body>
